<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    .data-table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      vertical-align: top;
    }

    .wide-table {
      width: 100%;
    }

    .button-row {
      line-height: 2em;
    }

    #animal-pic {
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="pokemon-app">
    <div>
      <button v-on:click="loadRandomPokemon">Random Pokemon</button>
    </div>
    <hr />
    <div v-if="loadingPokemon">Loading pokemon...</div>
    <div v-if="!loadingPokemon && pokemon.id">
      <table class="data-table wide-table">
        <tr>
          <td width="180">Name</td>
          <td>{{pokemon.name}}</td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="data-table">
              <tr>
                <td
                  v-if="pokemon.sprites.other['official-artwork'].front_default"
                  rowspan="4"><img
                    width="475"
                    height="475"
                    v-bind:src="pokemon.sprites.other['official-artwork'].front_default"
                    alt="Official Artwork" /></td>
                <td>{{pokemon.sprites.front_female ? 'Male Front' : 'Front'}}</td>
                <td><img
                    width="96"
                    height="96"
                    v-bind:src="pokemon.sprites.front_default"
                    alt="Default Front" /></td>
              </tr>
              <tr v-if="pokemon.sprites.back_default">
                <td>{{pokemon.sprites.back_female ? 'Male Back' : 'Back'}}</td>
                <td><img
                    width="96"
                    height="96"
                    v-bind:src="pokemon.sprites.back_default"
                    alt="Default Back" /></td>
              </tr>
              <tr v-if="pokemon.sprites.front_female">
                <td>Female Front</td>
                <td><img
                    width="96"
                    height="96"
                    v-bind:src="pokemon.sprites.front_female"
                    alt="Female Front" /></td>
              </tr>
              <tr v-if="pokemon.sprites.back_female">
                <td>Female Back</td>
                <td><img
                    width="96"
                    height="96"
                    v-bind:src="pokemon.sprites.back_female"
                    alt="Female Back" /></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>Height</td>
          <td>{{pokemon.height}}</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>{{pokemon.weight}}</td>
        </tr>
        <tr>
          <td>Abilities</td>
          <td>
            <li v-for="ability in pokemon.abilities">#{{ability.slot}}: {{ability.ability.name}}
              {{ability.is_hidden ? '(hidden ability!)' : ''}}
            </li>
          </td>
        </tr>
        <tr>
          <td>Stats</td>
          <td>
            <li v-for="stat in pokemon.stats">{{stat.stat.name}}: {{stat.base_stat}}</li>
          </td>
        </tr>
        <tr>
          <td>Moves</td>
          <td>
            <li v-for="move in pokemon.moves">{{move.move.name}}</li>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script lang="javascript">
    const pokemonListApp = {
      data() {
        return {
          pokemonCount: 100, // Use a random small enough number as a initial count.
          pokemon: {},
          loadingPokemon: false,
          urlCache: {},
        };
      },
      methods: {
        async loadPokemon(name) {
          this.loadingPokemon = true;
          const url = `https://pokeapi.co/api/v2/pokemon/${name}`;
          this.pokemon = await this.fetchUrl(url);
          this.loadingPokemon = false;
        },
        async fetchUrl(url) {
          let content = this.urlCache[url];
          if (content) {
            return content;
          } else {
            const response = await fetch(url);
            content = await response.json();
            this.urlCache[url] = content;
            return content;
          }
        },
        async loadRandomPokemon() {
          const max = this.pokemonCount;
          const index = Math.floor(Math.random() * max);
          const url = `https://pokeapi.co/api/v2/pokemon?limit=1&offset=${index}`;
          const pokemons = await this.fetchUrl(url);
          this.pokemonCount = pokemons.count;
          const pokemonUrlParts = pokemons.results[0].url.split('/');
          await this.loadPokemon(pokemonUrlParts[pokemonUrlParts.length - 2]);
        },
      },
    };
    Vue.createApp(pokemonListApp).mount('#pokemon-app');
  </script>
</body>

</html>